.hide {
    display:none;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: aqua;
    border-color: black;
    border-style: groove;
  }
  
  #quiz {
    display: inline-block;
  }
  
  #timer {
    font-size: 1.5em;
    font-weight: bold;
    color: red;
    margin: 1em;
  }
  
  button {
    padding: 0.5em;
    font-size: 1em;
  }
  
  .high-score {
    font-weight: bold;
  }
  